

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
	background-color: #00a087;
  font-color: #e8fdff;
  padding-left : 2rem;
	padding-right : 2rem;
  padding-top: 0;
  padding-bottom: 0;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left
}

#nav-bar .header {
  top: 50%
	float: left;
  font-size: 2rem;
  line-height: 80px;
  padding-left: 10px;
/* ... */
}

#nav-bar .button {
  height: 75%;
  width: 200px;
  position: relative;
  top: 12%;
  float: right;
  opacity: 0.85;
  font-size: 25px;
  border-radius: 15px;
  color: #00a087;
  background-color: #e8fdff;
  border: 1px solid #000000;
}

#nav-bar .button img {
  height: 35px;
  width: 35px;
  float: left;
}

#nav-bar .button:hover {
  opacity: 1;
  background-color: #ffffff;
}

#nav-bar .button:focus {
  outline: 0;
}
