  section.new-tweet {
    background-color: #FFFAFA;
    border: 2px solid grey;
    border-radius: 4px;
    padding: 10px 20px ;
  }
  section.new-tweet h2 {
    margin: 0;
  }

  section.new-tweet textarea {
    width: 100%;
  }

  section.new-tweet input {

  }

section.new-tweet span.counter {
    float: right;
}

section.new-tweet span.counter.invalid {
  color: #B22222;
}
